<div id="groups">
  <h3>Recommended Groups</h3>
  <% @groups = Group.search(@query, :limit => 5) %>
  <% if !@groups.nil? && @groups.size > 0 %>
    <ol>
    <% for group in @groups %>
      <li><%= link_to "#{group.name.titleize}", group %></li>
    <% end %>
    </ol>
  <% else %>
    <p>There are no groups that match your search terms (<%= @query %>).</p>
  <% end %>
</div>