<hr />
<div id="locations">
  <h2>Recommended Locations</h2>
  <% @locations = Location.search(@query) %>
  <% if !@locations.nil? && @locations.size > 0 %>
    <ol>
    <% for location in @locations %>
      <li><%= link_to "#{location.name.titleize}", location %><br />
        <%= location.address %></li>
    <% end %>
    </ol>
  <% else %>
    <p>There are no locations that match your search terms (<%= @query %>).</p>
  <% end %>
</div>
<hr />