/* 
FILENAME: globals.css
DESCRIPTION: This stylesheet serves global declarations to all Rubyholic assets
*/

/* =GRID OVERRIDE */
/*  Grid is inactive when entire section is commented */

body {
  background: #fff url("../images/16_col.png") center top repeat-y !important;
}

.bg_container {
  background: none !important;
}

/* =BASE */

html, body {
  height: 100%;
}

body {
/*  position: relative;
*/  background: #fff;
  font: normal 16px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif; /* normalize font size across browsers */
  text-align: left;
	color: #444;
}

a:link, a:visited {
	text-decoration: none;
}
	
a:hover, a:active {
}

a, strong, b { /* Straightens out OS X font rendering */
  line-height: 19px;
}

.hidden {
	display: none;
}

/* =GRID =MODIFIERS */

.container_12:after{clear:both;content:'.';display:block;visibility:hidden;height:0}
.container_12{display:inline-block}
* html .container_12{height:1%}
.container_12{display:block}

li.alpha {
  clear: both;
}

/* =HEADINGS */

h1 {
  font-size: 40px;
}

h2 {
  position: relative;
  margin-bottom: 20px;
  line-height: 40px;
  font-size: 36px;
}

.new h2 img {
  position: absolute;
  top: 9px;
  left: -55px;
}

h3 {
  font-size: 16px;
}

/* =GUTTER */

#gutter {
  position: relative;
  background: #000;
  height: 50px;
}

#gutter a {
  position: absolute;
  right: 0;
  padding: 0 20px;
  line-height: 50px;
  font-size: 13px;
  text-transform: uppercase;
}

#gutter a strong {
  font-size: 20px;
}

#gutter a:link, #gutter a:visited {
  color: #646464;
}

#gutter a:hover {
  background: #191919;
  color: #f6e69f;
}

/* =CONTAINER */

.bg_container {
  background: #fff url("/images/bg_container.png") repeat-x 0 0;
}

.container_12 {
  padding-top: 70px;
}

/* =LOGO */

h1 a {
  display: block;
  background: url("/images/logo_rubyholic.png") no-repeat 50% 0;
  width: 260px;
  height: 60px;
  margin: 0 20px;
  text-indent: -9999px;
}

/* =INTRO */

#intro p {
  font-size: 14px;
  text-align: justify;
  color: #828282;
}

/* =EVENTS */

#tab {
  position: absolute;
  top: -50px;
  left: 0;
}

#strip {
  position: absolute;
  top: -540px;
}

#tab .inner,
#strip .inner {
  background: #981a21;
  padding: 20px 0 19px 0;
  border-bottom: 1px solid #3d1614;
}

#upcoming_events li a {
  position: relative;
  display: block;
  padding: 10px 20px 10px 60px;
}

#upcoming_events li a:hover {
  background: #7a151a url("/images/icons/arrow.png") no-repeat 260px 50%;
}

#upcoming_events li .date {
  position: absolute;
  left: 20px;
  top: 10px;
  display: block;
  width: 20px;
  line-height: 10px;
  text-transform: uppercase;
  text-align: center;
}

#upcoming_events li .date .day {
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

#upcoming_events li .date .month {
  position: relative;
  top: -5px;
  font-size: 10px;
  color: #c18683;
}

#upcoming_events li .date .year {
  position: relative;
  top: -10px;
  font-size: 10px;
  color: #ad5e5a;
}

#upcoming_events li h3 {
  font-weight: bold;
  color: #f6e69f;
}

#upcoming_events li .location {
  font-size: 14px;
  color: #c18683;
}

.events #content {
  position: absolute;
  left: 320px;
}

/* =FORMS */

.new #form {
  position: relative;
}
.new #form img.arrow {
  position: absolute;
  top: 9px;
  left: 20px;
}

.new #form a.add {
  display: block;
  background: url("/images/icons/add.png") 0 0 no-repeat;
  height: 20px;
  margin: 5px 0 -5px 5px;
  padding-left: 25px;
  font-size: 11px;
  text-transform: uppercase;
  color: #828282;
}

.new #form a:hover.add {
  background-position: 0 -20px;
  color: #093;
}

form li {
  position: relative;
  clear: left;
  margin: 0 0;
  margin-bottom: 20px;
  padding-left: 100px;
/*  line-height: 40px;*/
}

label {
  position: absolute;
  left: 0;
  display: block;
/*  float: left;*/
  width: 100px;
  line-height: 40px;
  font-size: 11px;
  text-transform: uppercase;
/*  color: #828282;*/
}

select {
  width: 100%;
}

input, textarea, select {
  font: normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif; /* normalize font size across browsers */
}

input[type="text"], textarea {
  display: block;
  width: 408px;
  border: 1px solid #b4b4b4;
  line-height: 20px;
}

textarea {
  height: 80px;
}

.multiple_fields input,
.multiple_fields select {
  display: inline;
  width: auto;
}

.multiple_fields img {
  display: inline;
}

form li span {
  display: block;
  background: #d4d4d4;
  width: 410px;
  padding: 5px;
  line-height: 30px;
}

form .buttons {
  margin-left: 100px;
}

/* =SEARCH */
.search #recommended {
  margin-top: 10px;
  margin-bottom: 10px;
}

.search #recommended #groups, .search #recommended #locations {
  margin: 10px 0;
}

/* =BUTTONS =BASE */
/* Abstracted from the Wufoo implementation - thanks guys! */
/* http://particletree.com/features/rediscovering-the-button-element/ */

.buttons {
	overflow: hidden; /* Float clearing for good browsers */
	margin-bottom: 20px;
	font-size: .85em;
}

.buttons a.button, .buttons button {
  display: block;
  float: left;
  background: #22242c url("../images/bg_button_banner.png") bottom center repeat-x;
  border: 1px solid #4c5163;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  padding: 9px; /* Links */
  white-space: nowrap;
  text-align: center;
}

.buttons button {
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px; /* IE6 */
}

.buttons button[type] {
  padding: 5px 10px 5px 7px; /* Firefox */
  line-height: 18px; /* Safari */
}

*:first-child+html button[type] {
  padding: 4px 10px 3px 7px; /* IE7 */
}

.buttons button img, .buttons a img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
}

/* =BUTTONS =TWEAKS */

.buttons a.button, .buttons button { /* Safari */
  -webkit-border-radius: 20px;
}

.buttons a.button, .buttons button, x:-moz-any-link, x:default {
  -moz-border-radius: 20px;
}

/* =BUTTONS =STANDARD */

.buttons button:hover, .buttons a.button:hover, .buttons a.button:active {
  background: #111216;
  border: 1px solid #444858;
  color: #fff;
}

/* =BUTTONS =RESUME */

button.resume, .buttons a.resume {
  background: transparent;
  width: 140px;
  padding: 8px;
  border: 2px solid #fae443;
  color: #555a6e;
}

.buttons a.resume:hover, button.resume:hover, .buttons a.resume:active {
  background: #fae443;
  border: 2px solid #fae443;
  color: #565b6e;
}