/* 
FILENAME: globals.css
DESCRIPTION: This stylesheet serves global declarations to all Rubyholic assets
*/

/* =GRID OVERRIDE */
/*  Grid is inactive when entire section is commented */
/*
body {
  background: #fff url("../images/16_col.png") center top repeat-y !important;
}

#wrapper, #banner, #content, #container {
  background: none !important;
}
*/
/* =BASE */

html, body {
  height: 100%;
}

body {
/*  position: relative;
*/  background: #fff;
  font: normal 16px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif; /* normalize font size across browsers */
  text-align: left;
	color: #444;
}

a:link, a:visited {
	text-decoration: none;
}
	
a:hover, a:active {
}

a, strong, b { /* Straightens out OS X font rendering */
  line-height: 19px;
}

.hidden {
	display: none;
}

/* =GRID =MODIFIERS */

.container_16:after{clear:both;content:'.';display:block;visibility:hidden;height:0}
.container_16{display:inline-block}
* html .container_16{height:1%}
.container_16{display:block}

li.alpha {
  clear: both;
}

/* =WRAPPER */

/*#wrapper {
  position: relative;
}*/

/* =HEADINGS */

h1 {
  display: block;
  background: url("/images/logo_rubyholic.png") no-repeat;
  margin-bottom: 20px;
  width: 260px;
  height: 67px;
  font-size: 40px;
  text-indent: -9999px;
}

h2 {
  font-weight: normal;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
}

/* =GUTTER */

#gutter {
  background: #000;
  height: 40px;
}

/* =EVENTS */

/*#wrapper {
  position: relative;
}*/

/*.events #map {
  position: relative;
}
*/
/*.events .placer {
  width: 100%;
  position: absolute;
  top: 0;
}*/

.events #strip {
  position: absolute;
  top: -520px;
}

.events #strip .inner {
  background: #981a21;
	min-height:100%;
  padding: 20px;
  border-top: 1px solid #ad5e5a;
  z-index: 10;
}

.events #nearest_events li {
  position: relative;
  clear: left;
  margin-bottom: 20px;
  padding-left: 40px;
}

.events .date {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 20px;
  line-height: 10px;
  text-transform: uppercase;
  text-align: center;
}

.events .date .day {
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.events .date .month {
  position: relative;
  top: -4px;
  font-size: 10px;
  color: #c18683;
}

.events .date .year {
  position: relative;
  top: -8px;
  font-size: 10px;
  color: #ad5e5a;
}

.events h3 a {
  font-weight: bold;
  color: #f6e69f;
}

.events .location a {
  font-size: 14px;
  color: #c18683;
}

.events #content {
  position: absolute;
  left: 320px;
}

/* =BUTTONS =BASE */
/* Abstracted from the Wufoo implementation - thanks guys! */
/* http://particletree.com/features/rediscovering-the-button-element/ */

.buttons {
	overflow: hidden; /* Float clearing for good browsers */
	margin-bottom: 20px;
	font-size: .85em;
}

.buttons a.button, .buttons button {
  display: block;
  float: left;
  background: #22242c url("../images/bg_button_banner.png") bottom center repeat-x;
  border: 1px solid #4c5163;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  padding: 9px; /* Links */
  white-space: nowrap;
  text-align: center;
}

.buttons button {
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px; /* IE6 */
}

.buttons button[type] {
  padding: 5px 10px 5px 7px; /* Firefox */
  line-height: 18px; /* Safari */
}

*:first-child+html button[type] {
  padding: 4px 10px 3px 7px; /* IE7 */
}

.buttons button img, .buttons a img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
}

/* =BUTTONS =TWEAKS */

.buttons a.button, .buttons button { /* Safari */
  -webkit-border-radius: 20px;
}

.buttons a.button, .buttons button, x:-moz-any-link, x:default {
  -moz-border-radius: 20px;
}

/* =BUTTONS =STANDARD */

.buttons button:hover, .buttons a.button:hover, .buttons a.button:active {
  background: #111216;
  border: 1px solid #444858;
  color: #fff;
}

/* =BUTTONS =RESUME */

button.resume, .buttons a.resume {
  background: transparent;
  width: 140px;
  padding: 8px;
  border: 2px solid #fae443;
  color: #555a6e;
}

.buttons a.resume:hover, button.resume:hover, .buttons a.resume:active {
  background: #fae443;
  border: 2px solid #fae443;
  color: #565b6e;
}