/* 
FILENAME: globals.css
DESCRIPTION: This stylesheet serves global declarations to all Rubyholic assets
*/

/* =GRID OVERRIDE */
/*  Grid is inactive when entire section is commented */
/*
body, #map {
  background: #fff url("../images/12_col.png") center top repeat-y !important;
}

#map div {
  display: none;
}
.bg_container, .inner {
  background: none !important;
}
*/
/* =BASE */

html, body {
  height: 100%;
}

body {
/*  position: relative;
*/  background: #fff;
  font: normal 16px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif; /* normalize font size across browsers */
  text-align: left;
	color: #444;
}

a:link, a:visited {
	text-decoration: none;
}
	
a:hover, a:active {
}

a, strong, b { /* Straightens out OS X font rendering */
  line-height: 19px;
}

.hidden {
	display: none;
}

/* =GRID =MODIFIERS */

.container_12:after{clear:both;content:'.';display:block;visibility:hidden;height:0}
.container_12{display:inline-block}
* html .container_12{height:1%}
.container_12{display:block}

li.alpha {
  clear: both;
}

/* =HEADINGS */

h1 {
  font-size: 40px;
}

h2 {
  position: relative;
  margin-bottom: 20px;
  line-height: 40px;
  font-size: 34px;
}

h3 {
  font-size: 16px;
}

/* =GUTTER */

#gutter {
  position: relative;
  background: #000;
  height: 20px;
}

#gutter form {
  position: absolute;
  top: 30px;
  z-index: 1;
}

#gutter form span {
  display: block;
  float: left;
  background: url("../images/bg_black_17.png");
  width: 410px;
  padding: 5px;
}

#gutter form span input {
  float: left;
  width: 250px;
  margin-right: 5px;
}

#gutter form .buttons {
  clear: none;
  float: left;
  margin: 0;
  line-height: 1;
}

#gutter form .buttons button {
  margin: 0;
}

#gutter a {
  position: absolute;
  right: 0;
  padding: 0 20px;
  line-height: 50px;
  font-size: 13px;
  text-transform: uppercase;
}

#gutter a strong {
  font-size: 20px;
}

#gutter a:link, #gutter a:visited {
  color: #646464;
}

#gutter a:hover {
  background: #191919;
  color: #f6e69f;
}

/* =CONTAINER */

.bg_container {
  background: #fff url("/images/bg_container.png") repeat-x 0 0;
  min-height: 125px;
}

.container_12 {
  padding-top: 100px;
}

/* =LOGO */

.logo {
  background: #981a21;
  padding: 20px 0;
}

h1 a {
  display: block;
  background: url("/images/logo_rubyholic.png") no-repeat 50% 0;
  width: 260px;
  height: 60px;
  margin: 0 20px;
  text-indent: -9999px;
}

/* =NUANCES */

img.plus {
  position: absolute;
  top: 9px;
  left: -65px;
}

img.arrow {
  position: absolute;
  top: 9px;
  left: 20px;
}

/* =INTRO */

#intro p {
  margin-bottom: 20px;
  font-size: 14px;
  text-align: justify;
  color: #828282;
}

#intro em {
  font-size: 12px;
  font-style: normal;
  color: #b4b4b4;
}

#intro em strong {
  font-size: 20px;
  font-weight: bold;
  color: #981a21;
  vertical-align: middle;
}

/* =EVENTS */

#tab {
  position: absolute;
  top: -20px;
  left: 0;
}

#strip {
  position: absolute;
  top: -510px;
}

#tab .inner,
#strip .inner {
  background: #981a21;
}

#strip .inner {
  min-height: 510px;
}

#strip .inner select {
  width: 260px;
  margin: 0 20px 17px 20px;
  line-height: 40px;
}

.event {
  position: relative;
  display: block;
  padding: 10px 20px 10px 60px;
}

a.event:hover {
  background: #7a151a url("/images/icons/arrow.png") no-repeat 260px 50%;
}

.event .date {
  position: absolute;
  left: 20px;
  top: 10px;
  display: block;
  width: 20px;
  line-height: 10px;
  text-transform: uppercase;
  text-align: center;
}

.event .date .day {
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.event .date .month {
  position: relative;
  top: -5px;
  font-size: 10px;
  color: #c18683;
}

.event .date .year {
  position: relative;
  top: -10px;
  font-size: 10px;
  color: #ad5e5a;
}

.event h3 {
  font-weight: bold;
  color: #f6e69f;
}

.event .location {
  font-size: 14px;
  color: #c18683;
}

.event p {
  font-size: 13px;
  text-align: justify;
  color: #fff;
}

.events #content {
  position: absolute;
  left: 320px;
}

/* =FORMS */

#form {
  position: relative;
}

#form a.add {
  display: block;
  background: url("/images/icons/add.png") 0 0 no-repeat;
  height: 20px;
  margin: 5px 0 -5px 5px;
  padding-left: 25px;
  font-size: 11px;
  text-transform: uppercase;
  color: #828282;
}

#form a:hover.add {
  background-position: 0 -20px;
  color: #093;
}

form li {
  position: relative;
  clear: left;
  margin: 0 0;
  margin-bottom: 20px;
  padding-left: 80px;
}

label {
  position: absolute;
  left: 0;
  display: block;
  width: 80px;
  line-height: 40px;
  font-size: 11px;
  text-transform: uppercase;
}

select {
  width: 100%;
}

input, textarea, select {
  font: normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif; /* normalize font */
}

input, textarea {
  padding: 5px;
}

select {
  margin: 3px 0;
}

input[type="text"], textarea {
  width: 398px;
  border: 1px solid #b4b4b4;
  line-height: 20px;
}

textarea {
  height: 80px;
}

input:focus, textarea:focus {
  border-color: #828282;
}

.multiple_fields input,
.multiple_fields select {
  display: inline;
  width: auto;
}

.multiple_fields img {
  display: inline;
}

form li span {
  display: block;
  background: url("../images/bg_black_17.png");
  width: 410px;
  padding: 5px;
}

form li span em.helper {
  margin: 0;
  font: italic 12px/20px Cambria, Georgia, Times, 'Times New Roman', serif;
  color: #646464;
}

form .buttons {
  margin-left: 80px;
}

/* =TABLES */

#table {
  position: relative;
}

#table .buttons {
  position: absolute;
  top: -60px;
  right: 0;
}

#table table {
  width: 100%;
  border: 1px solid #d4d4d4;
  font-size: 14px;
}

#table table thead {
  background: #d4d4d4;
}

#table table thead tr th {
  padding: 10px;
  font-size: 11px;
  text-transform: uppercase;
}

#table table tbody tr {
  border-top: 1px solid #d4d4d4;
}

#table table tbody tr.odd {
  background-color: #eee;
}

#table table tbody tr td {
  padding: 9px 10px 10px;
  line-height: 20px;
}

#table table tbody tr td.action {
  width: 16px;
  padding-left: 0;
}

/* =ACTIONS */

.action a {
  display: block;
  background-position: 0 0;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
}

.action a.edit {
  background-image: url("/images/icons/pencil_recessed.png");
}

.action a.delete {
  background-image: url("/images/icons/close_recessed.png");
}

.action a:hover {
  background-position: 0 -16px;
}

/* =SEARCH */
.search #recommended {
  margin-top: 10px;
  margin-bottom: 10px;
}

.search #recommended #groups, .search #recommended #locations {
  margin: 10px 0;
}

/* =BUTTONS =BASE */
/* Abstracted from the Wufoo implementation - thanks guys! */
/* http://particletree.com/features/rediscovering-the-button-element/ */

.buttons {
  clear: both;
  line-height: 40px;
}

.buttons button, .buttons .button {
  display: block;
  float: left;
  background: #fff url("/images/bg_button.gif") repeat-x center bottom;
  margin: 5px 0;
  padding: 4px 0;
  border: 1px solid #b4b4b4;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
/*  line-height: 20px;*/
  font: bold 9px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif; /* normalize font */
  text-transform: uppercase;
  text-align: center;
  color: #069;
}

.buttons button {
  padding: 8px 0 7px 0;
}

.buttons button.positive, .buttons .button.positive {
  color: #093;
}

.buttons button.positive:hover, .buttons .button.positive:hover {
	background: #093;
	border-color: #093;
}

.buttons button:hover, .buttons .button:hover {
	background: #069;
	border-color: #069;
	color: #fff;
	cursor: pointer;
}

.buttons .passive {
  background: none;
  padding: 6px 0 5px 0;
  border: 0;
  color: #646464; 
}

.buttons .passive:hover {
  background: #d4d4d4;
  color: #646464; 
}