<div id="intro" class="grid_4">
  <h2><%=h @group.name %></h2>
  <div class="buttons">
    <%= link_to 'Edit', edit_group_path(@group), :class => 'button positive grid_1' %>
    <%= link_to 'All Groups', groups_path, :class => 'button passive grid_2' %>
  </div>
</div>

<div class="grid_7 prefix_1">
</div>